.header{
    display: flex;
    align-items: center;
    height: 64px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .navigation {
        max-width: 530px;
    }
}

@media screen and (min-width: 768px) {
    .navigation {
        width: 768px;
    }
    
}

@media screen and (min-width: 1200px) {
    .navigation {
        width: 1200px;
    }
}

.menu{
    display: flex;
}