.user_menu{
    display: flex;
    align-items: center;
}

.icon{
    width: 24px;
    height: 24px;
    padding: 3px;
    margin-right: 10px;
    fill: cornflowerblue;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.user_name{
    margin-right: 20px;
    font-family: 'Varela Round';
    font-size: 14px;
    line-height: normal;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: cornflowerblue;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.button:hover,
.button:focus {
    outline: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}