.contacts{
    margin: 0;
    padding: 0;
    list-style: none;
}

.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item:not(:last-child){
    margin-bottom: 15px;
}

.contact{
    text-decoration: none;
    outline: none;
}

.name,
.phone{
    line-height: normal;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 350px) {
    .name,
    .phone {
        width: 200px;
    }
}

@media screen and (max-width: 320px) {
    .name,
    .phone {
        width: 180px;
    }
}

@media screen and (max-width: 300px) {
    .name,
    .phone {
        width: 160px;
    }
}

.name{
    margin-bottom: 3px;
    font-weight: bold;
    color: cornflowerblue;
}

.phone{
    display: flex;
    align-items: center;
    font-size: 14px;
    text-decoration: none;
    color: rgb(65, 65, 65);
    transition: all 0.3s;
}

.phone_icon{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    fill: seagreen;
    border-radius: 5px;
    transform: scale(0);
    transition: all 0.2s;
}

.phone_number{
    margin-left: -15px;
    transition: all 0.3s;
}

.contact:hover .phone_icon,
.contact:focus .phone_icon{
    visibility:visible;
    transform: scale(1);
}

.contact:hover .phone_number,
.contact:focus .phone_number {
    margin-left: 5px;
}

.delete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 10px;
    color: white;
    background-color:rgb(255, 73, 73);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

.delete:hover,
.delete:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.loader{
    display: flex;
    justify-content: center;
}
.loader span{
    display: block;
}